* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: n0n;
    src: url('../fonts/BAUHS93.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    background-color: aliceblue;   
    justify-content: center;
    align-content: center;
}

form {
    width: 100%;
}

.form-container {
    width: 100%;
    max-width: 440px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
            
    border-radius: 100%;    
}

#p-code {
    width: 40%;
}

h1 {
    font-family: n0n;
}

h1, h2, h3 {
    text-align: center;
}

.container { 
    display: flex;    
    justify-content: center;
    align-items: center;        
}

.container label {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container input, select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
}

.form-row {
    display: flex;    
    gap: 20px;
}

.button {
    display: flex;
    gap: 20px;
}

.button input {
    border: none;
    margin-bottom: 20px;
}

.color-green {
    background-color: green;    
    color: white;
}

.color-red {
    background-color: red;    
    color: white;
}

.button input:hover {
    cursor: pointer;
    background-color: gray;
}

.footer p{  
  font-size: 14px;
  text-align: center;
  margin-bottom: 2px;  
  color: #e00808;
}